@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --font-staat: "staatliches", cursive;
  --fontOs: "Oswald", sans-serif;
  --font-ram: "Rambla", sans-serif;
}
/* Global Classes */
.fontStaat {
  font: normal 400 18px var(--font-staat);
}

.fontOs {
  font: normal 300 18px var(--font-os);
}

.fontRam {
  font: normal bold 18px var(--font-ram);
}

.fontSize40 {
  font-size: 40px;
}

.fontSize37 {
  font-size: 37px;
}

.fontSize27 {
  font-size: 27px;
}

.fontSize20 {
  font-size: 20px;
}

.fontSize16 {
  font-size: 16px;
}

.bgcolorBlack {
  background-color: var(--color-black);
}
/* End Global Classes */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  transition: left 0.5s ease;
}

header .navbar {
  height: 100vh;
}

.header .siteTitle .navbar-brand {
  color: var(--color-white);
  letter-spacing: 2px;
}

.header .navLink {
  margin: 0.7rem 1rem;
  border-bottom: 1px solid var(--color-border);
  text-transform: uppercase;
}

.header .navLink:hover {
  color: var(--color-white) !important;
}

.header .toggleButton {
  background-color: white;
  color: var(--color-black);
  position: fixed;
  top: 25px;
  right: 20px;
  border: 1px solid var(--color-border);
}

.toggleLeft {
  left: 0 !important;
  width: 1000px !important;
}
