@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap");




body {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --font-staat: "staatliches", cursive;
  --font-os: "Oswald", sans-serif;
  --font-ram: "Rambla", sans-serif;
}